{
  "plugins": [
    "./tools/node_modules/babel-plugin-transform-flow-strip-types",
    "./tools/node_modules/babel-plugin-transform-es2015-modules-commonjs",
    "./tools/node_modules/babel-plugin-transform-async-to-generator"
  ]
}
